In [20]:
import pandas as pd

url = "https://raw.githubusercontent.com/Czechitas-Python/python-data-1/main/python-pro-data-1/pivot-tabulky/excs/kola/assets/london_merged.csv"

data = pd.read_csv("https://raw.githubusercontent.com/Czechitas-Python/python-data-1/main/python-pro-data-1/pivot-tabulky/excs/kola/assets/london_merged.csv")

In [21]:
data.head()

,timestamp,cnt,hum,wind_speed,weather_code,is_holiday,is_weekend,season,Hour
0,2015-01-04 00:00:00,182,93.0,6.0,3,0,1,3,0
1,2015-01-04 01:00:00,138,93.0,5.0,1,0,1,3,1
2,2015-01-04 02:00:00,134,96.5,0.0,1,0,1,3,2
3,2015-01-04 03:00:00,72,100.0,0.0,1,0,1,3,3
4,2015-01-04 04:00:00,47,93.0,6.5,1,0,1,3,4

In [27]:
data["cnt_previous_row"] = data["cnt"].shift(1)
print(data.head())

            timestamp  cnt    hum  wind_speed  weather_code  is_holiday  \
0                 NaT  182   93.0         6.0             3           0
1 2015-01-04 02:00:00  138   93.0         5.0             1           0
2 2015-01-04 03:00:00  134   96.5         0.0             1           0
3 2015-01-04 04:00:00   72  100.0         0.0             1           0
4 2015-01-04 05:00:00   47   93.0         6.5             1           0

   is_weekend  season  Hour  cnt_previous_row
0           1       3     0               NaN
1           1       3     1             182.0
2           1       3     2             138.0
3           1       3     3             134.0
4           1       3     4              72.0

In [10]:
print(data.head())

            timestamp  cnt    hum  wind_speed  weather_code  is_holiday  \
0 2015-01-04 01:00:00  182   93.0         6.0             3           0
1 2015-01-04 02:00:00  138   93.0         5.0             1           0
2 2015-01-04 03:00:00  134   96.5         0.0             1           0
3 2015-01-04 04:00:00   72  100.0         0.0             1           0
4 2015-01-04 05:00:00   47   93.0         6.5             1           0

   is_weekend  season  Hour  day_of_week
0           1       3     0            6
1           1       3     1            6
2           1       3     2            6
3           1       3     3            6
4           1       3     4            6

In [3]:
data.head()

,timestamp,cnt,hum,wind_speed,weather_code,is_holiday,is_weekend,season,Hour
0,2015-01-04 00:00:00,182,93.0,6.0,3,0,1,3,0
1,2015-01-04 01:00:00,138,93.0,5.0,1,0,1,3,1
2,2015-01-04 02:00:00,134,96.5,0.0,1,0,1,3,2
3,2015-01-04 03:00:00,72,100.0,0.0,1,0,1,3,3
4,2015-01-04 04:00:00,47,93.0,6.5,1,0,1,3,4